<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AdminDAO">

	<select id="adminLogin" parameterType="admin" resultType="admin">
		<![CDATA[
		SELECT * FROM MANAGER WHERE MANAGER_ID = #{manager_id}
		]]>
	</select>

	<insert id="insertProduct" parameterType="product">
		<![CDATA[
		INSERT INTO PRODUCT(PROD_NO,PROD_NAME,BRAND,CATEGORY,PRICE,COST_PRICE,DISCOUNT_PRICE
		,CAPACITY,SCENT,SCENT_RATING,FEEL,FEEL_RATING,AVG_RATING,TOTALSALES,STOCK,IMG_URL,MANAGER_ID,PRODUCT_EXPLAIN,EXPLAIN_URL) 
		VALUES (#{prod_no}, #{prod_name}, #{brand}, #{category}, #{price}, #{cost_price}, #{discount_price}
		, #{capacity}, #{scent}, 0, #{feel}, 0, 0, #{totalsales}, #{stock}, #{img_url}, 'admin', #{product_explain}, #{explain_url})
		]]>
	</insert>
	
	<select id="adminSearchProduct" parameterType="String" resultType="product">
		<![CDATA[
		SELECT * 
		FROM PRODUCT
		WHERE PROD_NAME LIKE '%'||#{value}||'%'
		]]>
	</select>
	
	<select id="adminEditTarget" parameterType="product" resultType="product">
		<![CDATA[
		SELECT * FROM PRODUCT WHERE PROD_NO = #{prod_no}
		]]>
	</select>
	
	<update id="adminEditProduct" parameterType="product">
		
		UPDATE PRODUCT SET 
		<if test="prod_name != null">
		<![CDATA[ PROD_NAME = #{prod_name}, BRAND = #{brand}, CATEGORY = #{category}, 
		PRICE = #{price}, DISCOUNT_PRICE = #{discount_price}, CAPACITY = #{capacity}, 
		SCENT = #{scent}, FEEL = #{feel}, PRODUCT_EXPLAIN = #{product_explain}, 
		EXPLAIN_URL = #{explain_url}, 
		]]>
		</if>
		<![CDATA[STOCK = #{stock}, COST_PRICE = #{cost_price}]]>  
		<![CDATA[WHERE PROD_NO = #{prod_no}]]>
	</update>
	
	<delete id="adminRemoveProduct" parameterType="String">
		<![CDATA[
		DELETE 
		FROM PRODUCT
		WHERE PROD_NO = #{value}
		]]>
	</delete>
	
	<select id="viewAllCustomer" resultType="customer">
		<![CDATA[
		SELECT * FROM CUSTOMER
		]]>
	</select>
	
	<select id="adminCustomerEditTarget" parameterType="customer" resultType="customer">
		<![CDATA[
		SELECT * FROM CUSTOMER WHERE CUSTOMER_ID = #{customer_id}
		]]>
	</select>
	
	<update id="adminEditCustomer" parameterType="customer">
		<![CDATA[
		UPDATE CUSTOMER SET TEL = #{tel}, NAME = #{name}, EMAIL = #{email}, ADDRESS = #{address}, BIRTHDAY = #{birthday}, SKINTYPE = #{skintype}, POINTS = #{points}, GENDER = #{gender} WHERE CUSTOMER_ID = #{customer_id}
		]]>
	</update>
	
	<delete id="adminRemoveCustomer" parameterType="String">
		<![CDATA[
		DELETE 
		FROM CUSTOMER
		WHERE CUSTOMER_ID = #{value}
		]]>
	</delete>
	
	<select id="viewAllOrderlist" resultType="order">
		<![CDATA[
		SELECT * FROM ORDERLIST
		]]>
	</select>
	
	<select id="adminOrderEditTarget" parameterType="order" resultType="order">
		<![CDATA[
		SELECT * FROM ORDERLIST WHERE ORDER_NO = #{order_no}
		]]>
	</select>
	
	<update id="adminEditOrder" parameterType="order">
		<![CDATA[
		UPDATE ORDERLIST SET RECEIVE = #{receive}, ORDER_STATUS = #{order_status}, DELIVERY_DATE = #{delivery_date}, DELIVERY_STATUS = #{delivery_status}, ORDER_ADDRESS = #{order_address} WHERE ORDER_NO = #{order_no}
		]]>
	</update>
	
	<update id="adminEditDeliveryStatus" parameterType="order">
		<![CDATA[
		UPDATE ORDERLIST SET DELIVERY_DATE = SYSDATE, DELIVERY_STATUS = '발송완료' WHERE ORDER_NO = #{order_no}
		]]>
	</update>
	
	<select id="viewAllInquiry" parameterType="qna" resultType="qna">
		SELECT I.INQUIRY_ID INQUIRY_ID, P.PROD_NO PROD_NO, P.PROD_NAME PROD_NAME, P.IMG_URL IMG_URL, 
		I.CUSTOMER_ID CUSTOMER_ID, I.CONTENTS CONTENTS, I.QNADAY QNADAY,
		R.CONTENTS REPLY_CONTENTS, R.REPLYDAY REPLYDAY
		FROM INQUIRY I 
		INNER JOIN PRODUCT P ON <![CDATA[I.PROD_NO = P.PROD_NO]]> 
		LEFT OUTER JOIN INQUIRY_REPLY R ON <![CDATA[I.INQUIRY_ID = R.INQUIRY_ID]]>
		<if test="inquiry_id != null">
		<![CDATA[WHERE I.INQUIRY_ID = #{inquiry_id}]]>
		</if>
		ORDER BY QNADAY DESC
	</select>
	
	<insert id="adminReplyInquiry" parameterType="qna_reply">
		<![CDATA[
		INSERT INTO INQUIRY_REPLY(INQUIRY_REPLY_ID,MANAGER_ID,INQUIRY_ID,CONTENTS,REPLYDAY) 
		VALUES (INQUIRY_REPLY_SEQUENCE.NEXTVAL,#{manager_id},#{inquiry_id},#{contents},SYSDATE)
		]]>
	</insert>
	
	<select id="viewInventory" parameterType="inventory" resultType="inventory">
		SELECT IVN.INVENTORY_NO INVENTORY_NO, P.IMG_URL IMG_URL, IVN.PROD_NO PROD_NO, 
		P.PROD_NAME PROD_NAME, IVN.EXIST_QTY EXIST_QTY, IVN.EXIST_PRICE EXIST_PRICE, 
		IVN.STOCK_IN_QTY STOCK_IN_QTY, IVN.STOCK_IN_PRICE STOCK_IN_PRICE, IVN.UPDATE_DATE UPDATE_DATE
		FROM INVENTORY IVN
		INNER JOIN PRODUCT P ON <![CDATA[IVN.PROD_NO = P.PROD_NO]]>
	</select>
	
	<insert id="insertInventory" parameterType="inventory">
		<![CDATA[
		INSERT INTO INVENTORY(PROD_NO,EXIST_QTY,EXIST_PRICE,STOCK_IN_QTY,STOCK_IN_PRICE,UPDATE_DATE,INVENTORY_NO) 
		VALUES (#{prod_no}, #{exist_qty}, #{exist_price}, #{stock_in_qty}, #{stock_in_price},SYSDATE,INVENTORY_NO_SEQUENCE.NEXTVAL)
		]]>
	</insert>
	
	<select id="viewSalesData" resultType="sales">
		<![CDATA[
		SELECT 
		OL.MONTH,ORDER_PRICE,DISCOUNT_PRICE,DELIVERY_PRICE,
		POINT_USE,PAYMENT_PRICE,SALES_PRICE,SALES_COST,(SALES_REVENUE - POINT_USE) AS SALES_REVENUE,
		EACH_QTY
		FROM (
			SELECT TO_CHAR(ORDER_DATE,'YYYY-MM') AS MONTH,  
			SUM(ORDER_PRICE) ORDER_PRICE,
			SUM(DISCOUNT_PRICE) DISCOUNT_PRICE,
			SUM(DELIVERY_PRICE) DELIVERY_PRICE,
			SUM(POINT_USE) POINT_USE,
			SUM(PAYMENT_PRICE) PAYMENT_PRICE
			FROM ORDERLIST
			GROUP BY TO_CHAR(ORDER_DATE,'YYYY-MM')
			) OL
		INNER JOIN (
			SELECT TO_CHAR(O.ORDER_DATE,'YYYY-MM') AS MONTH,
			SUM(OP.SALES_PRICE * OP.EACH_QTY) SALES_PRICE, 
			SUM(OP.SALES_COST * OP.EACH_QTY) SALES_COST, 
			SUM(OP.SALES_REVENUE * OP.EACH_QTY) SALES_REVENUE,
			SUM(OP.EACH_QTY) EACH_QTY
			FROM ORDERLIST O
			INNER JOIN ORDERLIST_PRODUCT OP ON O.ORDER_NO = OP.ORDER_NO
			GROUP BY TO_CHAR(ORDER_DATE,'YYYY-MM')
			) OPLIST
		ON OL.MONTH = OPLIST.MONTH
		ORDER BY OL.MONTH ASC
		]]>
	</select>
	
	<select id="viewSalesDailyData" resultType="sales">
		<![CDATA[
		SELECT TO_CHAR(ORDER_DATE,'YYYY-MM-DD') AS DAY,  
		SUM(ORDER_PRICE) ORDER_PRICE,
		SUM(DISCOUNT_PRICE) DISCOUNT_PRICE,
		SUM(DELIVERY_PRICE) DELIVERY_PRICE,
		SUM(POINT_USE) POINT_USE,
		SUM(PAYMENT_PRICE) PAYMENT_PRICE
		FROM ORDERLIST
		WHERE TO_CHAR(ORDER_DATE,'YYYY-MM-DD') >= TO_CHAR(SYSDATE-30,'YYYY-MM-DD')
		GROUP BY TO_CHAR(ORDER_DATE,'YYYY-MM-DD')
		ORDER BY TO_CHAR(ORDER_DATE,'YYYY-MM-DD') ASC
		]]>
	</select>
	
	<select id="viewProductSalesData" resultType="sales">
		<![CDATA[
		SELECT OL.PROD_NO PROD_NO, OL.SALES_PRICE SALES_PRICE, OL.SALES_COST SALES_COST, 
		OL.SALES_REVENUE SALES_REVENUE, OL.EACH_QTY EACH_QTY, P.IMG_URL IMG_URL
		FROM (
    		SELECT PROD_NO,
    		SUM(SALES_PRICE * EACH_QTY) SALES_PRICE, 
    		SUM(SALES_COST * EACH_QTY) SALES_COST,
    		SUM(SALES_REVENUE * EACH_QTY) SALES_REVENUE,
    		SUM(EACH_QTY) EACH_QTY
    		FROM ORDERLIST_PRODUCT
    		GROUP BY PROD_NO
    		) OL
		INNER JOIN PRODUCT P ON OL.PROD_NO = P.PROD_NO
		ORDER BY OL.PROD_NO ASC
		]]>
	</select>
	
</mapper>