<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AdminDAO">

	<select id="adminLogin" parameterType="admin" resultType="admin">
		<![CDATA[
		SELECT * FROM MANAGER WHERE MANAGER_ID = #{manager_id}
		]]>
	</select>
	
	<select id="adminProduct" resultType="product">
		<![CDATA[
		SELECT * FROM PRODUCT ORDER BY prod_no ASC
		]]>
	</select>

</mapper>