<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AdminDAO">

	<select id="adminLogin" parameterType="admin" resultType="admin">
		<![CDATA[
		SELECT * FROM MANAGER WHERE MANAGER_ID = #{manager_id}
		]]>
	</select>
	
	<select id="adminProduct" resultType="product">
		<![CDATA[
		SELECT * FROM PRODUCT ORDER BY prod_no ASC
		]]>
	</select>
	
	<insert id="insertProduct" parameterType="product">
		<![CDATA[
		INSERT INTO PRODUCT(PROD_NO,PROD_NAME,BRAND,CATEGORY,PRICE,COST_PRICE,DISCOUNT_PRICE
		,CAPACITY,SCENT,SCENT_RATING,FEEL,FEEL_RATING,AVG_RATING,TOTALSALES,STOCK,IMG_URL,MANAGER_ID) 
		VALUES (#{prod_no}, #{prod_name}, #{brand}, #{category}, #{price}, #{cost_price}, #{discount_price}
		, #{capacity}, #{scent}, 0, #{feel}, 0, 0, #{totalsales}, #{stock}, #{img_url}, 'admin')
		]]>
	</insert>

</mapper>