<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CustomerDAO">

	<select id="login" parameterType="customer" resultType="customer">
	
	SELECT * from CUSTOMER WHERE CUSTOMER_ID=#{customer_id} 
	<if test="password!=null">
	and password=#{password}
	</if>
	
	</select>
	
	<insert id="insert" parameterType="customer">
	INSERT INTO 
	CUSTOMER(CUSTOMER_ID,TEL,PASSWORD,NAME,EMAIL,ADDRESS,BIRTHDAY,SKINTYPE,GENDER)
	 VALUES(#{customer_id},#{tel},#{password},#{name},#{email},#{address},#{birthday},#{skintype},#{gender})
	
	</insert>
	
	<select id="selectReview" resultType="review">
	<![CDATA[
		SELECT * FROM review where prod_no=#{prod_no} ORDER BY writeday DESC
		]]>
	
	</select>

</mapper>
