<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MypageDAO">
<select id="getAllById" parameterType="Customer" resultType="Customer">
select  *
from customer
where customer_id=#{customer_id} 
</select>

<update id="updateMypage" parameterType="customer">
	UPDATE customer SET TEL =#{tel}, EMAIL = #{email} , ADDRESS =#{address} WHERE customer_id = #{customer_id}
</update>
                

</mapper>