<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 주문 테이블, 주문-제품 테이블 관련된 쿼리 짜볼거야 -->
<mapper namespace="OrderDAO">

<insert id="insertOrder" parameterType="order">
	<![CDATA[
	INSERT INTO orderlist 
	VALUES (#{order_no},#{customer_id},#{receive},#{order_address},sysdate,#{order_price},#{discount_price},0,#{payment_price},'결제완료',sysdate,sysdate+2,'배송준비중')
	]]>
</insert>

<insert id="insertOrder_Product" parameterType="order_product">
	<![CDATA[
		INSERT INTO orderlist_product (prod_no, order_no, each_qty)
		VALUES (#{prod_no},#{order_no},#{each_qty})
	]]>
</insert>
</mapper>