<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ViewMainPageDAO">
	
	<select id="viewAllProduct" resultType="product">
	<![CDATA[
	SELECT * 
	FROM PRODUCT
	ORDER BY PROD_NO
	]]>
	</select>
	
	<select id="selectMaxTotalsalesProduct" resultType="product" parameterType="product" >
	<![CDATA[
	SELECT * 
	FROM product
	WHERE totalsales = (SELECT max(totalsales) FROM product)
	]]>
	</select>
	
	<select id="viewTopfiveSalesdProduct" resultType="product">
	<![CDATA[
	SELECT *
	FROM product
	WHERE totalsales IN (SELECT totalsales
    	FROM (SELECT rownum AS rnum, totalsales
        	FROM (SELECT totalsales FROM product ORDER BY totalsales desc))
    	WHERE rnum>=1 AND rnum<=5)
	ORDER BY totalsales desc
	]]>
	</select>
	
	<select id="productSelected" parameterType="product" resultType="product">
	<![CDATA[
	SELECT * 
	FROM PRODUCT
	WHERE PROD_NO = #{prod_no}
	]]>
	</select>
	
	<select id="searchResult" parameterType="String" resultType="product">
	<![CDATA[
	SELECT * 
	FROM PRODUCT
	WHERE PROD_NAME LIKE '%'||#{value}||'%'
	]]>
	</select>
	
	<select id="categoryList" parameterType="product" resultType="product">
	<![CDATA[
	SELECT * 
	FROM PRODUCT
	WHERE CATEGORY = #{category}
	]]>
	</select>

</mapper>