<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ViewDAO">
	
	<select id="viewAllProduct" resultType="product">
	<![CDATA[
	SELECT * 
	FROM PRODUCT
	ORDER BY PROD_NO
	]]>
	</select>
	
	<select id="selectMaxTotalsalesProduct" resultType="product" parameterType="product" >
	<![CDATA[
	SELECT * 
	FROM product
	WHERE totalsales = (SELECT max(totalsales) FROM product)
	]]>
	</select>
	
	<select id="viewTopFourSalesdProduct" resultType="product">
	<![CDATA[
	SELECT *
	FROM (SELECT * FROM PRODUCT ORDER BY TOTALSALES DESC)
	WHERE ROWNUM <= 4
	]]>
	</select>
	
	<select id="productSelected" parameterType="product" resultType="product">
	<![CDATA[
	SELECT * 
	FROM PRODUCT
	WHERE PROD_NO = #{prod_no}
	]]>
	</select>
	
	<select id="searchResult" parameterType="String" resultType="product">
	<![CDATA[
	SELECT * 
	FROM PRODUCT
	WHERE PROD_NAME LIKE '%'||#{value}||'%'
	]]>
	</select>
	
	<select id="categoryList" parameterType="product" resultType="product">
	<![CDATA[
	SELECT * 
	FROM PRODUCT
	WHERE CATEGORY = #{category}
	]]>
	</select>
	
	<select id="viewFilteredProduct" parameterType="product" resultType="product">
	SELECT * 
	FROM PRODUCT
	WHERE <![CDATA[AVG_RATING >= #{avg_rating}]]>
		<if test="feel != ''">
			AND REGEXP_LIKE(FEEL,#{feel})
		</if>
		<if test="scent != ''">
			AND REGEXP_LIKE(SCENT,#{scent})
		</if>
	</select>

</mapper>