<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ViewMainPageDAO">
	
	<select id="viewAllProduct" resultType="product">
	<![CDATA[
	SELECT * 
	FROM PRODUCT
	ORDER BY PROD_NO
	]]>
	</select>
	
	<select id="selectMaxTotalsalesProduct" resultType="product" parameterType="product" >
	<![CDATA[
	SELECT * 
	FROM product
	WHERE totalsales = (SELECT max(totalsales) FROM product)
	]]>
	</select>

</mapper>