/* 하예라 전용 CSS */

/* adminProduct.jsp */
/* adminProduct.jsp */
/* adminProduct.jsp */

.adminProduct_Img {
	max-width: 50px;
	min-width: 50px;
}

.card-header > h4 {
	text-align: left;
}

.card-header > input {
	float: right;
}

.table td > input {
	width: 100%;
}

.table>thead>tr>th {
	font-size: 1.2em;
	font-weight: bold;
}

.uploadPreview > img {
	width: 200px;
}

.configBtns > button {
	background-color: transparent;
	border-color: transparent;
	border: 0;
	outline: 0;
	display: inline-block;
}

.btnRegister,
.btnEdit,
.btnReply {
	float: right;
	height: 30px;
	font-weight: bold;
	font-size: 12px;
	text-shadow: none;
	min-width: 100px;
	border-radius: 50px;
	line-height: 13px;
	color: #fff;
	background-color: #22456C;
	border-color: transparent;
}

/* 파일 업로드 버튼 양식 */
.filebox label {
	display: inline-block;
	padding: .5em .75em;
	color: white;
	font-size: inherit;
	line-height: normal;
	vertical-align: middle;
	background-color: #1A385C;
	cursor: pointer;
	border: 1px solid #ebebeb;
	border-bottom-color: #e2e2e2;
	border-radius: 50px;
}

.filebox input[type="file"] {
	/* 파일 필드 숨기기 */
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

/* 상품 이미지 호버 시 약간 확대 */
.hayeraImgBox {
	height:200px;
    width: 200px;
    overflow: hidden;   
}

.hayeraImgBox img {
	height:100%;
   	width: 100%;
   	object-fit:cover;     
	/* 마우스가 이미지를 벗어 났을 때도 자연스럽게 크기가 줄어들기 위함 */
   	transform:scale(1.0);        
   	transition: transform .5s; 
}

.hayeraImgBox img:hover {
	transform:scale(1.1);	/* 이미지 확대 */
   	transition: transform .5s;	/*  시간 설정  */
}

.caretHayera {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 4px solid #125288;
	border-right: 4px solid transparent;
	border-bottom: 0 dotted;
	border-left: 4px solid transparent;
}

.liSelected>div,
.liSelected>div>label,
.liSelected>div>span {
	/* 필터 별점 선택 표기 */
	font-weight: bold;
  	font-size: 15px;
	color: #084A83;
}

.filterBtn {
	position: absolute; 
	top: 128px; 
	left:850px; 
	width: 100px; 
	height: 25px; 
	background-color: transparent;
	border: none;
	font-size: 14px;
	color: #084A83;
}