<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- Alias 설정 -->
	<typeAliases>
		<typeAlias alias="admin" type="spring.mvc.domain.AdminVO" />		
		<typeAlias alias="customer" type="spring.mvc.domain.CustomerVO" />
		<typeAlias alias="product" type="spring.mvc.domain.ProductVO" />
		<typeAlias alias="review" type="spring.mvc.domain.ReviewVO"/>
		<typeAlias alias="order" type="spring.mvc.domain.OrderListVO"/>
		<typeAlias alias="order_product" type="spring.mvc.domain.Order_ProductVO"/>
		<typeAlias alias="qna" type="spring.mvc.domain.QnaVO"/>
		
	</typeAliases>

</configuration>